/************************
       RESET RULES
************************/

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Raleway', sans-serif;
}

body{
    position: relative;
}

/************************
       DEBUG RULES
************************/

footer .debug{
    height: 80px;
}




/************************
       UTILITY RULES
************************/
:root{
    --black-color: #000000;
    --dark-blue-color: #141922;
    --light-black-color: #282828;
    --grey-color: #808080;
    --dark-grey-color: #5d5d5d;
    --light-grey-color: #c9c9c9;
    --white-color: #f5f5f5;
    --green-acid-color: #b8ff30;

}





/************************
       STYLE RULES
************************/